.fieldHolder {
	margin-bottom: 1em;
}
.fieldHolder label {
	display: block;
}
.met {
	color: green;
}
.unmet {
	color: #AA0000;
}
.pwCheckSpan {
	display: inline-block;
	
	width: 1em;
}
.reqmet::before, .requnmet::before {
	width: 1.5rem;
	overflow: hidden;
}
.requnmet::before,.requnmet {
	color: #AA0000;
}
.reqmet::before, .reqmet {
	color: #00A41E;
}
ul.pwReqsUL {
  list-style: none;
}
ul.pwReqsUL li::before {
  content: "\200B";
}
.invisibleStuff {
	clip:rect(1px,1px,1px,1px);
	height:1px;
	margin:0;
	overflow:hidden;
	position:absolute;
	width:1px
}
