.fieldHolder {
	margin-bottom: 1em;
}
.fieldHolder label {
	display: block;
}
/*
.met {
	color: green;
}
.unmet {
	color: #AA0000;
}
*/
/*
.pwCheckSpan {
	display: inline-block;
	width: 1em;
}
*/
/*.reqmet::before, .requnmet::before {
	/*display: inline-block;
	float: right;
	width: 1.5rem;
	overflow: visible;
	text-align: center* /
}*/
/*
.requnmet::before,.requnmet {
	/*content: "✘";* /
	color: #AA0000;
}
*/
/*
.reqmet::before, .reqmet {
	/*content: "✔";* /
	content: "\f00c";
	color: #00A41E;
}
*/
/*
.pwReqText {
	vertical-align: top;
	/*display: inline-block;* /
}
*/

ul.pwReqsUL {
  list-style: none;
}
ul.pwReqsUL li::before {
  content: "\200B";
}
ul.pwReqsUL>li {
	display: table-row;
}
ul.pwReqsUL>li>span {
	display: table-cell;
	min-width: 1.5em;
}
.invisibleStuff {
	clip:rect(1px,1px,1px,1px);
	height:1px;
	margin:0;
	overflow:hidden;
	position:absolute;
	width:1px
}
